<!DOCTYPE html>
<html lang="zh-CN">

<head>
    {{ partial "head.html" . }}
</head>

<body>
    {{ partial "button.html" . }}
    {{ partial "navbar.html" . }}
    <div class="article">
        {{ $recentDate := now.AddDate 0 0 -7 }}
        {{ range where .Site.RegularPages.ByDate "Date" "ge" $recentDate }}
        {{ $content := .Content | markdownify | safeHTML }}
        {{ $left := replaceRE `<img.*?>` `` $content | safeHTML }}
            {{ $right := findRE `<img.*?>` $content }}
                <div class="title">
                    <p>{{ .Date.Format "2006年1月2日 15:04" }}</p>
                </div>
                <div class="content">
                    <div class="text">
                        <p>{{ $left }}</p>
                    </div>
                    <div class="image">
                        {{ range $right }}
                        {{ . | safeHTML }}
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
    </div>

    {{ partial "footer.html" . }}

</body>

</html>