<nav id="navbar">
    <div class="logo">
        <a href="/"><img src="/logo.svg" height="100px"></a>
    </div>
    <div class="dropdown">
        <button class="dropbtn">2024年</button>
        <div class="dropdown-content">
            <!--<a href="/202412">12月</a>
            <a href="/202411">11月</a>
            <a href="/202410">10月</a>
            <a href="/202409">9月</a>
            <a href="/202408">8月</a>
            <a href="/202407">7月</a>
            <a href="/202406">6月</a>
            <a href="/202405">5月</a>-->
            <a href="/202404">4月</a>
        </div>
    </div>
</nav>