<!DOCTYPE html>
<html lang="zh-CN">

<head>
    {{ partial "head.html" . }}
</head>

<body>
    {{ partial "button.html" . }}
    {{ partial "navbar.html" . }}
    <div class="article">

        <div class="title">

        </div>
        <div class="content">
            <div class="text">
                <h1>404</h1>
                <h2>此路径下不存在文件</h2>
            </div>
            <div class="image">
                <img src="/404.webp" title="疑惑的小猪">
            </div>

        </div>
    </div>

    {{ partial "footer.html" . }}

</body>

</html>